/*
Custom Css
*/
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
